#project {
  display: flex;
  flex-direction: column;
}

.project-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-page-header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.project-page-header button svg {
  width: 24px;
  height: 24px;
}
