* {
  box-sizing: border-box;
}

:root {
  --primary-black: #212121;
  --secondary-black: #424242;
  --primary-grey: #e0e0e0;
  --secondary-grey: #f5f5f5;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Ubuntu';
}

#app {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
  overflow-y: hidden;
}
